
@{
    ViewBag.Title = "FailureView";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<title>Không thể hoàn thành thanh toán</title>

<div class="alert alert-success" style="height:299px;  margin-top:30px;">
    <h3 style="padding-top:30px; text-align:center">Thanh toán không thành công. Mời bạn kiểm tra lại thông tin thanh toán.</h3>
</div>

