
@{
    ViewBag.Title = "SuccessView";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<title>Trang xác nhận thanh toán</title>

<div class="alert alert-success" style="height:299px;  margin-top:30px;">
    <h3 style="padding-top:30px; text-align:center">Bạn vừa thanh toán đơn hàng thành công! Cám ơn bạn đã mua hàng!</h3>
</div>
