@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title = "Contact";
}

<!---->
<div class="container-fluid pt-5">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">Liên hệ nếu có bất kỳ thắc mắc nào</span></h2>
    </div>
    <div class="row px-xl-5">
        <div class="col-lg-7 mb-5">
            <div class="contact-form">
                <div id="success"></div>
                <form name="sentMessage" id="contactForm" novalidate="novalidate">
                    <div class="control-group">
                        <input type="text" class="form-control" id="name" placeholder="Nhập họ và tên"
                               required="required" data-validation-required-message="Please enter your name" />
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        <input type="email" class="form-control" id="email" placeholder="Nhập Email"
                               required="required" data-validation-required-message="Please enter your email" />
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        <input type="text" class="form-control" id="subject" placeholder="Vấn đề bạn thắc mắc"
                               required="required" data-validation-required-message="Please enter a subject" />
                        <p class="help-block text-danger"></p>
                        @Html.TextBox("Name", "Nhập tên của bạn")
                        @Html.Hidden("1")
                    </div>
                    <div class="control-group">
                        <textarea class="form-control" rows="6" id="message" placeholder="Ghi chú"
                                  required="required"
                                  data-validation-required-message="Please enter your message"></textarea>
                        <p class="help-block text-danger"></p>
                    </div>
                    <div>
                        <button class="btn btn-primary py-2 px-4" type="submit" id="sendMessageButton">
                            Gửi
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-5 mb-5">
            <h5 class="font-weight-semi-bold mb-3">Liên lạc</h5>
            <div class="d-flex flex-column mb-3">
                <h5 class="font-weight-semi-bold mb-3">Shop</h5>
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>2/1 khu phố Thạnh hoà B, phường An Thạnh, Thuận An, Bình Dương</p>
                <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>HuyVuong123@gmail.com</p>
                <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+84 379 205 855</p>
            </div>
            <div>
            </div>
        </div>
    </div>
</div>
<!---->